*.mod
*.o
*~
*/*~
*/*/*~
*.a
*.i90
include/*
lib/gfortran/lib*
lib/gfortran/nr/*
lib/ifort/lib*
lib/ifort/nr/*
lib/include/*
lib/lib/*
src/libtmp/*
src/.make_lastsystem
src/mcfost
src/sha.f90
src/system.f90
utils/.last_update
utils/Version

#parameter files
*.para
